.cardv1 {
	$parent: &;

	display: block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	color: inherit;

	background-color: var(--color-contrast-lower);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	border-radius: var(--radius-md);
	overflow: hidden;

	box-shadow: var(--shadow-sm);
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: var(--shadow-md);
	}

	&--overlay {
		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.5);
			transition: background-color 0.3s;
		}

		&:hover {
			&:before {
				background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.8);
			}
		}
	}

	&__body {
		display: flex;
		height: 100%;

		flex-direction: column;
		position: relative;
		z-index: 2;

		padding: var(--component-padding);
	}

	&__header {
		padding-bottom: var(--space-3xl);
		max-width: 540px;
	}

	&__footer {
		margin-top: auto;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&:hover {
		#{$parent}__footer {
			opacity: 1;
		}
	}
}
